<!-- same site as update-attraction.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Attraction</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/update-attraction.css}">
</head>
<body class="admin-theme">
<header>
    <h1>Add Attraction</h1>
    <a href="/attractions" class="admin-button">Back to Attractions list</a>
</header>
<main class="container">
    <section class="box refined-box">
        <form th:action="@{/attractions/add}" method="post" th:object="${touristAttraction}">
        <div class="form-group">
                <label>Name:</label>
                <label>
                    <input type="text" th:field="*{name}" required>
                </label>
            </div>

            <div class="form-group">
                <label>Description:</label>
                <label>
                    <input type="text" th:field="*{description}" required>
                </label>
            </div>

            <div class="form-group">
                <label>City:</label>
                <label for="attraction-select"></label><select id="attraction-select" th:field="*{city}" required>
                <option value="" disabled selected>Select a city...</option>
                <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
            </select>
                <input type="hidden" name="tags" value="" /> <!-- sends list also with no checked tags (instead of null) -->
            </div>


            <div class="form-group">
                <label>Tags:</label>
                <div class="tags-container refined-tags">
                    <div th:each="tag : ${allTags}" class="tag-item">
                        <label>
                            <input type="checkbox" th:field="*{tags}" th:value="${tag}">
                            <span th:text="${tag}"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="refined-buttons">
                <button type="submit" class="ok-button">Add</button>
                <a th:href="@{/attractions}" class="cancel-button">Cancel</a>
            </div>


        </form>
    </section>
</main>
</body>
</html>
