<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>

<header>
  Admin Panel
  <a href="/" class="admin-button">Back to Front Page</a>
</header>

<main class="container">
  <section class="box">
    <h2><i>Hi there, welcome back!</i></h2>

    <div class="button-container">
      <a href="/attractions" class="full-width-button view-button">View Attractions</a>
      <a href="/add" class="full-width-button add-button">Add Attraction</a>
      <a href="/select-attraction" class="full-width-button">Update Attraction</a>
      <a href="/" class="full-width-button back-button">Back to Front Page</a>
    </div>

  </section>
</main>

</body>
</html>
