<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Attractions</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/css/attraction-list.css}">
</head>
<body>
<header>
    <h1>TOURIST ATTRACTION</h1>
    <a href="/admin" class="admin-button">Back to Admin Panel</a>
</header>

<main class="container">
    <section class="box">
        <h2>All Attractions</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="attraction : ${attractions}">
                <td th:text="${attraction.name}"></td>
                <td th:text="${attraction.city}"></td>
                <td class="button-group">

                    <a th:href="@{'/attractions/' + ${attraction.name} + '/edit'}">
                        <button class="custom-button edit-button">
                            <img th:src="@{/images/edit.png}" src="/images/edit.png" alt="Edit" class="button-icon">
                            Edit
                        </button>
                    </a>

                    <a th:href="@{'/' + ${attraction.name} + '/tags'}">
                        <button class="custom-button tag-button">
                            <img th:src="@{/images/tag.png}" src="/images/tag.png" alt="Tags" class="button-icon">
                            Tags
                        </button>
                    </a>

                    <a th:href="@{'/' + ${attraction.name} + '/delete'}">
                        <button class="custom-button delete-button">
                            <img th:src="@{/images/bin.png}" src="/images/bin.png" alt="Delete" class="button-icon">
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>


        <p class="end-of-list"><i>End of list</i></p>

        <div class="button-container">
            <a href="/add">
                <button class="custom-button add-button">Add Attraction</button>
            </a>
            <a href="/admin">
                <button class="custom-button add-button admin-panel-button">Admin Panel</button>
            </a>
        </div>
    </section>
</main>
</body>
</html>